/* Import the font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Apply the font globally */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0; /* Ensure there is no default margin */
  padding: 0; /* Ensure there is no default padding */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.App {
  text-align: center;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #9f0ca9;
  padding: 0 20px;
}

.App-link {
  color: #ffffff;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:active {
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}